  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
  }
  
  @media screen and (max-width: 600px) {
    .game {
        margin-left: 0px;
      }
      .square {
        height: 24px;
        width: 24px;
        font-size: 20px;
        line-height: 24px;
      }
      .game-info {
        font-size: 12px;
      }
  }

  .game-info {
    margin-left: 10px;
  }
  